// Color Variables
$turquoise: #00C3B6;
$darkblue: #113A52;
$lightgrey: #eeeeee;
$white: #FFFFFF;

// General
* {
	box-sizing: border-box;
	color: #7F7E7A;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

// Titles and paragraph styles
h1, h2 {
	color: $turquoise;
	margin:0px;
}

// Headlines and list item
h1, li, li a {
	font-family: 'Alfa Slab One', sans-serif;
}

// Header and navigation
header {
	z-index:1000;
}

// This creates the accordion effect by initially hiding the div
div.panel {
    display: none;
}

#desktopNavigation {
	display:none;
}

#mobileNavigation {
	display: flex;
	justify-content:space-between;

	position: fixed;
	top: 0px;

	width: 100%;
	height: 45px;

	-webkit-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
	box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);

	h1{
		margin:0.1em;
	}

	form {
		margin:0.6em;

		input {
			height:30px;
			padding: 10px;

			border: 0px;
			border-bottom: 3px solid $turquoise;
		}

		.searchButton {
			background-color: $turquoise;
			border:0px;
		}
	}

	.menuIcon {
		margin:1em;
	}

} // mobile navigation end


ul {
	display:flex;
	justify-content: space-around;
	flex-direction:column;

	list-style:none;

	a {
		margin:0px 8px;
		padding: 14px 7px;

		color:#7F7E7A;
		text-transform: uppercase;

		height:45px;
	}

	a:hover {
		color:$turquoise;
		background-color:$lightgrey;
		border-bottom: 3px solid $turquoise;
	}
} // ul end


#mobileMenu {
	display:none;

	position: absolute;
	top:45px;

	padding: 4em;
	background-color: #FFFFFF;
}


// Main, main content, footer
#main {
	width: 60%;
	margin: auto;
	margin-top:5em;
}

.pagination {
	margin: 2em 0;
	a {
		color:$darkblue;
		border-bottom: 3px solid $darkblue;
		text-transform: uppercase;
	}

	a:hover {
		text-decoration: none;
		color:$turquoise;
		border-bottom: 3px solid $turquoise;
	}
}

.tags {
	margin: 2em 0;
}

.tag {
	margin:2px;
	background-color:$turquoise;
	border:1.5px solid $turquoise;
	color:$white;
}

.tag:hover {
	background-color:$lightgrey;
	border:1.5px solid $lightgrey;
	color:$turquoise;
}

.storiesList {

	article {
		margin:2em 0;
	}
}


//VIEW: content/home
#ajaxHomeStories {
	display: flex;
	flex-direction:column;
	align-items: center;

	width:80%;

	article {
		display:inline-block;
		overflow-wrap: break-word;
	}

	h1 {
		font-size:1.6em;
	}

	a {
		text-decoration: none;
	}

	div {
		width:250px;
		height:250px;
		box-shadow:none;
		transition:0.5s;
		padding:5px;
		background-image:url("");

		&:hover {
			box-shadow:0 0 10px #e2e2e2;
			transition: 0.5s;
			transform: scale(1.02);

		}
	}
	#refreshStories{
		background-color:black;
		text-align:center;
	}
}

#needHelpBox {
	padding:3em;
	width:80%;
	margin-right:5vw;
	background-color:$darkblue;
	text-align:center;
	p {
		color:white;
	}
}

footer {
	padding:3em 6em;
	margin-top: 3em;
	width:100%;
	background-color: $darkblue;

	#footerContent {
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		width:60%;

		a {
			text-decoration: none;
			color:$lightgrey;
		}

		a:hover {
			color:$turquoise;
		}

		h4 {
			color:$lightgrey;
		}
	}
}

/* TABLET ------------------------------------------------------ */
@media screen and (max-width: 1000px) and (min-width: 700px) {
	// HEADER, NAVIGATION, MENU

	//MAIN, MAIN-CONTENT, FOOTER

	#ajaxHomeStories {
		width:70vw;

		article {
			display:inline-block;
			overflow-wrap: break-word;
		}

		h1 {
			font-size:1.6em;
		}

		a{
			text-decoration: none;
		}

		div {
			width:250px;
			height:250px;
			box-shadow:none;
			transition:0.5s;
			padding:5px;
			background-image:url("");

			&:hover {
				box-shadow:0 0 10px #e2e2e2;
				transition: 0.5s;
				transform: scale(1.02);
			}
		}

	}

	#needHelpBox {
		position:absolute;
		right:0;
		top:100px;

		width:250px;
		margin-right:5vw;
		background-color:#2c3e50;
		text-align:center;

		p {
			color:white;
		}
	}
}

/* DESKTOP ----------------------------------------------------- */
@media screen and (min-width: 1000px) {
	header {
		#mobileNavigation {
			display:none;
		}

		#desktopNavigation {
			display: flex;
			justify-content:space-between;

			position: fixed;
			top: 0px;

			width: 100%;
			height: 45px;

			-webkit-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
			-moz-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
			box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
		}

		#desktopMenu {
			display:flex;
			flex-direction: row;
		}

		h1 {
			margin:0.1em;
			color:$turquoise;
		}

		h1:hover {
			text-decoration: none;
		}

		form {
			margin: 7px;

			input {
				height:30px;
				padding: 10px;

				border: 0px;
				border-bottom: 3px solid $turquoise;
			}
		}

		ul {
			display:flex;
			justify-content: space-around;

			list-style:none;

			a {
				margin:0px 8px;
				padding: 14px 7px;

				color:#7F7E7A;
				text-transform: uppercase;

				height:45px;
			}

			a:hover {
				color:#00C3B6;
				background-color:#EEEEEE;
				border-bottom: 3px solid #00C3B6;
			}
		}
	}


	#main {
		display:flex;
		flex-direction: column;
		align-items: center;

		section {
			margin:2em 0;
			width:70%;
		}

	}

	#ajaxHomeStories{
		flex-flow: row wrap;
		justify-content: space-around;
		width:100%;

		article {
			display:inline-block;
			overflow-wrap: break-word;
		}

		h1 {
			font-size:1.6em;
		}

		a {
			text-decoration: none;
		}

		div {
			width:250px;
			height:250px;
			box-shadow:none;
			transition:0.5s;
			padding:5px;
			background-image:url("");

			&:hover{
				box-shadow:0 0 10px #e2e2e2;
				transition: 0.5s;
				transform: scale(1.02);

			}
		}

	}

	#needHelpBox {
		position:absolute;
		right:0;
		top:100px;

		width:250px;
		margin-right:5vw;
		background-color:#2c3e50;
		text-align:center;
		p{
			color:white;
		}
	}

	#formToDeleteAccount {
		display: none;
	}

	// Captcha in about page
	.g-recaptcha {
		width: 300px;
		margin: auto;
	}




} // media screen end
