// Color Variables
$turquoise: #00C3B6;
$darkblue: #113A52;
$lightgrey: #eeeeee;
$white: #FFFFFF;
$graffiti: #232323;
$wisteria: #8e44ad;
$brightred: #e74c3c;
$sunflower: #f1c40f;

// General
* {
	box-sizing: border-box;
	color: white;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

body {
	background-image:url("http://res.cloudinary.com/dp8xddisq/image/upload/v1491567196/pink_dust_pmajkm.png");
}

// Titles and paragraph styles
h1, h2 {
	color: $sunflower;
	margin:0;
}

// Headlines and list item
h1, li, li a {
	font-family: 'Alfa Slab One', sans-serif;
}

// Header and navigation
header {
	z-index:1000;
}

a {
	text-decoration: none;
}

// Accordion jquery UI
.accordion {
	width: 750px;
    margin: auto;
    margin-top: 200px;
	margin-bottom: 10px;
    padding: 20px;
    background-color: white;

	h2 {
    	margin: 0;
    	padding: 20px;
    	text-align: center;
    	font-size: 30px;
    	background-color: #ecf0f1;
    	border-radius: 5px;
		margin-bottom: 10px;
    }
}

.storyBox {
	margin: 2px 0;
	padding: 15px;
	height: 230px;
	background-color: $graffiti;
}

/*#flex {

}*/

#desktopNavigation {
	display:none;
}

#mobileNavigation {
	display: flex;
	justify-content:space-between;
	position: fixed;
	top: 0;
	height: 45px;
	width: 100%;
	background-color: $graffiti;
	z-index: 5000;

	-webkit-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
	box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);

	h1{
		margin:0.1em;

		a {
			color: $sunflower;
		}
	}

	form {
		margin:0.6em;

		input {
			height:30px;
			padding: 10px;

			border: 0px;
			border-bottom: 3px solid $sunflower;
		}
	}

	.menuIcon {
		margin:1em;
	}
} // mobile navigation end


ul {
	display:flex;
	justify-content: space-around;
	flex-direction:column;

	list-style:none;

	a {
		color:black;
		height:45px;
		margin:0px 8px;
		padding: 14px 7px;
		text-transform: uppercase;
	}

	a:hover {
		color:$wisteria;
		background-color:$lightgrey;
		border-bottom: 3px solid $turquoise;
	}
}

#mobileMenu {
	background-color: $sunflower;
	display:none;
	padding: 4em;
	position: absolute;
	top:45px;
	z-index: 5000;
}

.pagination {

	a {
		color:$darkblue;
		border-bottom: 3px solid $darkblue;
		text-transform: uppercase;
	}

	a:hover {
		text-decoration: none;
		color:$turquoise;
		border-bottom: 3px solid $turquoise;
	}
}

.tag {
	background-color:$sunflower;
	border:1.5px solid $sunflower;
	color:black;
}

.tag:hover {
	background-color:black;
	border:1.5px solid $sunflower;
	color:$sunflower;
}

#needHelpBox {
	background-color:	$graffiti;
	margin-top: 45px;
	margin-bottom: 2px;
	padding: 2em;
	text-align: center;

	h1 {
		color: $brightred;
	}

	p {
		color:white;
	}
}

#refreshStories {
	background-color: black;
	margin: 5px 0;
}

#ajaxHomeStories {
	height: 280px;
	width: 280px;

	display: flex;
	flex-direction:row;
	align-items: center;

	h1 {
		font-size:1.5em;
	}

	a {
		text-decoration: none;
	}

	div {
		background-color: $graffiti;
		box-shadow: none;
		padding: 20px;
		transition: 0.5s;
		&:focus {
			box-shadow:0 0 15px white;
			transition: 0.5s;

			h1 {
				color: $wisteria;
			}
		}
	}
}


textarea{
	white-space: pre-wrap;
}

footer {
	padding:3em 6em;
	margin-top: 1em;
	width:100%;
	background-color: black;

	#footerContent {
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		width:60%;

		a {
			text-decoration: none;
			color:$sunflower;
		}

		a:hover {
			color:$wisteria;
		}

		h4 {
			color:$sunflower;
		}
	}
}

// Captcha in about page
.g-recaptcha {
	width: 300px;
}


/* =========================================
			MEDIA SCREENS
======================================== */


/* TABLET ------------------------------------------------------ */
@media screen and (max-width: 1000px) and (min-width: 600px) {


}

/* DESKTOP ----------------------------------------------------- */
@media screen and (min-width: 1000px) {
	header {
		#mobileNavigation {
			display:none;
		}

		#desktopNavigation {
			display: flex;
			justify-content:space-between;
			background-color: $graffiti;
			z-index: 5000;

			position: fixed;
			top: 0px;
			width: 100%;
			height: 45px;

			-webkit-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
			-moz-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
			box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
		}

		#desktopMenu {
			display:flex;
			flex-direction: row;
		}

		h1 {
			margin:0.1em;
			color:$sunflower;
		}

		h1:hover {
			text-decoration: none;
		}

		form {

			input {
				height:30px;
				padding: 10px;

				border: 0px;
				border-bottom: 3px solid $turquoise;
			}
		}

		ul {
			display:flex;
			justify-content: space-around;
			list-style:none;

			a {
				color:#7F7E7A;
				height:45px;
				padding: 14px 7px;
				text-transform: uppercase;
			}

			a:hover {
				color:#00C3B6;
				background-color:#EEEEEE;
				border-bottom: 3px solid #00C3B6;
			}
		}
	} // media screen end
}
