// Color Variables
$darkblue: #113A52;
$lightgrey: #eeeeee;
$white: #FFFFFF;
$graffiti: #232323;
$wisteria: #8e44ad;
$brightred: #e74c3c;
$sunflower: #f1c40f;
$lightblack: #232323;

// General
* {
	box-sizing: border-box;
	color: white;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

body {
	background-image:url("http://res.cloudinary.com/dp8xddisq/image/upload/v1491567196/pink_dust_pmajkm.png");
}

// Titles and paragraph styles
h1, h2 {
	color: $sunflower;
	margin:0;
}

h3 {
	width: 70%;
	margin: 50px auto;
}

// Background color of stories/articles
.articlesList {
	background-color: transparentize($lightblack, 0.5);
}

// Headlines and list item
h1, li, li a {
	font-family: 'Alfa Slab One', sans-serif;
}

// Header and navigation
header {
	z-index:1000;
}

a {
	text-decoration: none;
	color: $sunflower;

	&:hover {
		text-decoration: none;
		color: $wisteria;
	}
}

#main {
	margin-top: 65px;
}

// Accordion jquery UI
.accordion {
	margin-bottom: 10px;
    padding: 20px;

	h2 {
    	margin: 0;
    	padding: 20px;
    	text-align: center;
    	font-size: 30px;
    	background-color: $lightblack;
    	border-radius: 5px;
		margin-bottom: 10px;
    }
}

// This hides the nav bar of the desktop when showing the page
// on the smartphone or tablet
#desktopNavigation {
	display:none;
}


#mobileNavigation {
	display: flex;
	justify-content:space-between;
	position: fixed;
	top: 0;
	height: 45px;
	width: 100%;
	background-color: $graffiti;
	z-index: 5000;

	-webkit-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
	box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);

	h1{
		margin:0.1em;

		a {
			color: $sunflower;
		}
	}

	form {
		margin:0.6em;

		input {
			height:30px;
			padding: 10px;

			border: 0px;
			border-bottom: 3px solid $sunflower;
		}
	}

	.menuIcon {
		margin:1em;
	}
}


ul {
	display:flex;
	justify-content: space-around;
	flex-direction:column;

	list-style:none;

	a {
		color:black;
		height:45px;
		margin:0px 8px;
		padding: 14px 7px;
		text-transform: uppercase;
	}

	a:hover {
		color:$wisteria;
		background-color:$lightgrey;
	}
}

#mobileMenu {
	background-color: $sunflower;
	display:none;
	padding: 4em;
	position: absolute;
	top:45px;
	z-index: 5000;
}

.pagination {

	a {
		color:$brightred;
		border-bottom: 3px solid $brightred;
		text-transform: uppercase;
	}

	a:hover {
		text-decoration: none;
		color: white;
		border-bottom: 3px solid white;
	}
}

.tag {
	background-color:$sunflower;
	border:1.5px solid $sunflower;
	color:black;
}

.tag:hover {
	background-color:black;
	border:1.5px solid $sunflower;
	color:$sunflower;
}

.orderBox {
	margin-bottom: 20px;
}

// This centers the FAQ headline
#faqHeadline {
	text-align: center;
}

#needHelpBox {
	margin-top: -20px;
	margin-bottom: 2px;
	padding: 2em;
	text-align: center;

	h1 {
		color: $brightred;
	}

	p {
		color:white;
	}
}

#refreshStories {
	background-color: black;
	margin: 5px 0;
}

#ajaxHomeStories {
	align-items: center;
	display: flex;
	flex-flow:row wrap;
	width:100%;

	h1 {
		font-size:1.5em;
		font-weight: light;
	}

	a {
		text-decoration: none;
	}

	div {
		background-color: $graffiti;
		box-shadow: none;
		padding: 20px;
		transition: 0.5s;

		&:focus {
			box-shadow:0 0 15px white;
			transition: 0.5s;

			h1 {
				color: $wisteria;
			}
		}
	}
}

#allStories {
	background-color: $graffiti;
	border:2px solid darken(white, 50%);
	height: 230px;
	padding: 12px;
}

.storyBox {
	background-color: $graffiti;
	border:2px solid darken(white, 50%);
	height: 230px;
	padding: 12px;
	width: 100%;
}

textarea{
	white-space: pre-wrap;
}

footer {
	background-color:#141414;
	margin-top: 1em;
	padding: 20px;
	width: 100%;

	section, #footerContent section {
		text-align: center;
	}

	#footerContent {
		display:flex;
		flex-direction: row nowrap;
		justify-content: space-around;
		width: 90%;

		section {
			width: 45%;
		}

		a {
			text-decoration: none;
			color:$sunflower;
		}

		a:hover {
			color:$wisteria;
		}

		h4 {
			color:$sunflower;
		}
	}
}

// Captcha in about page
.g-recaptcha {
	margin: auto;
	width: 300px;
}


/* =========================================
			MEDIA SCREENS
======================================== */


/* TABLET ------------------------------------------------------ */
@media screen and (min-width: 576px) {

	.storyBox {
		width: 50%;
	}

}

/* DESKTOP ----------------------------------------------------- */
@media screen and (min-width: 992px) {
	header {
		#mobileNavigation {
			display:none;
		}

		#desktopNavigation {
			display: flex;
			justify-content:space-between;
			background-color: $graffiti;
			z-index: 5000;

			position: fixed;
			top: 0px;
			width: 100%;
			height: 45px;

			-webkit-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
			-moz-box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
			box-shadow: 0px -3px 59px -8px rgba(0,0,0,0.38);
		}

		#desktopMenu {
			display:flex;
			flex-direction: row;
		}

		h1 {
			margin: 0.1em;
			color: $sunflower;
		}

		h1:hover {
			text-decoration: none;
		}

		form {

			input {
				color: black;
				height:30px;
				padding: 10px;
				border: 0px;
				border-bottom: 3px solid $sunflower;
			}
		}

		ul {
			display:flex;
			justify-content: space-around;
			list-style:none;

			a {
				color:#7F7E7A;
				height:45px;
				padding: 14px 7px;
				text-transform: uppercase;
			}

			a:hover {
				color:#00C3B6;
				background-color:#EEEEEE;
				border-bottom: 3px solid #00C3B6;
			}
		}
	} // header end

	.storyBox {
		width: 33.3333%;
	}
} // media screen (992px) end
